#footerGameContainer 
{
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color: #404040;
    bottom: 0;
    
}

#footerGameContainer > h1 
{
    text-align: center;
    color: rgb(219, 219, 219);
    font-size: 15px;
    margin-top: 4vh;
}